body {
    font-family: "Bahnschrift", "Roboto Condensed";
    margin: 0;
    padding: 0;
    background-image:url("Resources/Fondo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 1rem;
}

header { 
    background: radial-gradient(#0073bf,#001d9c);
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Titulo {
    width: 400px; 
    height: 50px; 
    background: url('Resources/Titulo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left:-100px;
}

.Logo {
    width: 160px; 
    height: 50px; 
    background: url('Resources/Logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: -200px;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
}

.Logo:hover {
    transform: scale(1.2);
}

.FotoInicial {
    background: url('Resources/FotoInicial.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 1300px;
    max-width: 100%; 
    height: 45vh; 
}

#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -150px; 
    width: 150px;
    height: 100%;
    background: linear-gradient(#015e9c,#01187e);
    transition: left 0.3s; 
    z-index: 1;
    overflow-y: auto; 
    border-radius: 0.5rem;

    #logolink {
        margin-top: auto;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        align-self: flex-end;
        width: 8rem;
        height: 6rem;
    }
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar li {
    padding: 10px;
    text-align: center;
}

#sidebar a {
    color: #fff; 
    text-decoration:none;
    display: block;
    transition: background-color 0.2s;
}

#sidebar a:hover {
    background-color:#0059ff;
}

.show-sidebar {
    left: 0 !important;
}

#Boton-Inicio {
    background: transparent;
    color: #fff; 
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#Boton-Final {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#Boton-Inicio:hover {
    background-color: #0059ff; 
}

#Boton-Final:hover {
    background-color:#0059ff;
}

section {
    background-color: #fff;
    margin: 20px auto !important;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
    max-height: 70vh;
    max-width: 60%; 
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow:auto;
}

#InicioDividido {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 10px;
}

#InicioDividido img{
    width: 100%;
    height: 48vh;
}

#Informacion {
    text-align: left;
    font-size:medium;
}


section#inicio p {
    margin-top: -15px;
    margin-bottom: 20px;
}

section#agenda {
    height: 80vh;
    max-width: 60%;
}

section#agenda p {
    margin-top: -15px;
}

section#contacto {
    height: 20vh;
    justify-content: center;
}

.container {
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.Imagenes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 1rem;
    max-width: 100%;
    max-height: 70%;
}

.Imagenes img {
    max-width: 50%;
    max-height: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

h1, h2 {
    color: #333;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    transition: background-color 0.3s, color 0.3s;
}

.btnModal {
    display: inline-block;
    background-color: #ffffff;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size:medium;
    transition: background-color 0.3s, color 0.3s;
    pointer-events: none;
}

.btn:hover{
    background-color: #555;
}

.btnModal:hover{
    background-color: #555;
}

footer {
    background-color: #103780;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: aparecer 0.5s ease-in-out;
}

.modal-content {
    background-color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    height:80%;
    width:70%; 
    overflow-y: auto;
}

.modal div #VentanaModal {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 80%;
}

.modal div #Pago {
    display: grid;
    margin-top: -10px;
    grid-template-rows: 20% 40% 20% 20%;
    height: 100%;
    width: 90%;
}

.modal div #Header{
    align-items: center;
    justify-content: center;
}

.modal div #ImgPago{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 5px;
    height: auto;
}


.modal div #Factura {
    display: flex;
    align-items: flex-start;
}

.modal div #Factura input[type="checkbox"] {
    margin-right: 10px;
    width: 5%
}

.modal div #Factura label {
    margin: 0;
    text-align: left;
    display: inline;
}

#Mensaje {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; 
    animation: aparecer 0.5s ease;
}

#Error {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; 
    animation: aparecer 0.5s ease;
}

#Advertencia {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; 
    animation: aparecer 0.5s ease;
}

#Mensaje .modal-content {
    background-color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 30%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#Error .modal-content {
    font-size:medium;
    background-color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    height: 20%;
    width: 20%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#Advertencia .modal-content {
    font-size: large;
    background-color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    height: 20%;
    width: 20%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#Mensaje h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
    left: 2%;
}

#Mensaje p {
    color: #555;
    font-size: 18px;
}

form label, form p {
    text-align: left;
    margin-top: 1px;
    margin-bottom: 1px;
}

.modal div #ImagenModal {
    background: url('Resources/Foto5.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#reserva-form {
    display: flex;
    flex-direction: column;
}

#reserva-form label {
    margin-bottom: 10px; 
}

#reserva-form input {
    padding: 5px;
    margin-bottom: 1.5rem;
    width:85%;

    &.Montos {
        width: 20%;
        margin-left: 1rem;
        pointer-events: none;
        border: transparent;
        padding: 0;
    } 
}

.dineros {
    display: flex;
    flex-direction: row;
}


#reserva-form select {
    padding: 5px;
    margin-bottom: 1.5rem;
    width:85%;
}

#ImgPago img {
    width: 100%;
    object-fit: cover; 
}

#ImgPago img:hover {
    filter: brightness(80%);
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

footer p {
    font-size: large;
}

.circle {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    background-color: orange; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    z-index: 999; 
    transition: all 0.3s ease;
}

.question-mark {
    font-size: 45px; 
    color: white; 
    font-weight: bold;
    text-decoration: none;
}

.circle:hover {
    width: 100px;
    height: 100px;
}

#navbar-left a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 23px;
    text-decoration: none;
    color: #fff;
    background-color: #103780;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

#navbar-left a:hover {
    background-color: #1949a3;
    color: #fff;
}

#preguntas-frecuentes {
    background-color: #fff;
    margin: 20px auto !important;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 150vh;
    max-width: 50%; 
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: small;
}

.pregunta {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-height: 800px) {
    .Imagenes img {
        width: 100%;
        height: 55vh;
    }

    .btnModal {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #333;
        color: #fff;
        padding: 15px 30px;
        text-decoration: none;
        border-radius: 10px;
        font-weight: bold;
        font-size:medium;
    }

    #preguntas-frecuentes {
        font-size: x-small !important;
    }

    .pregunta {
        margin-bottom: 40px !important;
    }

    #Informacion {
        font-size: x-small;
    }
}

@media screen and (max-height: 1100px) {
    #preguntas-frecuentes {
        font-size:large;
    }

    .pregunta {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .FotoInicial {
        background: url('Resources/FotoInicial.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 1300px;
        max-width: 100%; 
        height: 30vh; 
    }

    .Imagenes img {
        width: 100%;
        max-height: 30vh;
    }

    #InicioDividido img {
        width: 100%;
        height: 28vh;
    }

    #Informacion {
        font-size: x-small;
    }

    .Titulo {
        width: 300px; 
        height: 40px; 
        background: url('Resources/Titulo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-left:-100px;
    }
    
    .Logo {
        width: 140px; 
        height: 60px; 
        background: url('Resources/Logo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-left: -150px;
    }

    section {
        background-color: #fff;
        margin: 20px auto !important;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 60vh;
        max-width: 60%; 
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    section#inicio p {
        margin-top: -15px;
        margin-bottom: 20px;
    }

    section#inicio {
        margin-top: -15px;
        margin-bottom: 20px;
        height: 40vh;
    }
    
    section#agenda {
        height: 50vh;
        max-width: 60%;
    }
    
    section#agenda p {
        margin-top: -15px;
    }
    
    section#contacto {
        max-height: 25vh;
        justify-content: center;
    }

}

@media screen and (max-width: 700px) {
    #Informacion {
        font-size: xx-small;
    }

    section .container {
        font-size: small;
    }

    .Titulo {
        width: 300px; 
        height: 40px; 
        background: url('Resources/Titulo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-left:-100px;
    }
    
    .Logo {
        width: 100px; 
        height: 30px; 
        background: url('Resources/Logo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-left: -110px;
        margin-bottom: 10px;
        transition: transform 0.5s ease;
    }

    #preguntas-frecuentes {
        height: 100vh;
        max-width: 70%; 
    }
}

#anticipo-text {
    margin-bottom: 1rem;
}


#loading {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000009f;
    z-index: 1;
    align-items: center;
    justify-content: center;
    font-family: "Bahnschrift", "Roboto Condensed";

    label {
        position: relative;
        font-style: italic;
        font-size: 2rem;
        color: white;
        margin-top: 4rem;
        right: -0.4rem;
    }
    
        .loader {
            height: 150px;
            width: 100px;
            border-radius: 55px 55px 10px 10px;
            position: relative;
            background: #f0744f;
        
            background-image: linear-gradient(
            0deg,
            #f63a99 25%,
            #30dcf6 20%,
            #30dcf6 20%,
            #668c92 50%,
            #85782a 40%,
            #f2d200 50%,
            #f2d200 75%,
            #70ca5c 75%
            );
            background-position: 0px 0px;
            background-size: auto 175px;
            background-repeat: repeat-y;
            animation: colorShift 2s linear infinite;
        }
        .loader:before {
            content: "";
            position: absolute;
            left: 10px;
            bottom: 15px;
            width: 15px;
            height: 100px;
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.5);
        }
        
        .loader:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%, 0);
            box-shadow: 0 15px 2px rgba(0, 0, 0, 0.25) inset;
            width: 32px;
            height: 45px;
            background: #534b44;
            border-radius: 0 0 12px 12px;
        }
        
        @keyframes colorShift {
            to {
            background-position: 0 175px;
            }
        }
}

#logolink{
    transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.2);
        }
}